
body {
    background-color: rgb(240, 234, 234);
}

/* Add CSS styles for the search form */
#search-form {
    margin-top: 10em; /* Add a 10em margin from the top */
    color: white; /* Set text color to white */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

/* Style the input and button */
#player-tag,
button[type="submit"] {
    background-color: #333; /* Set background color */
    color: white; /* Set text color */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    margin: 10px 0; /* Add margin */
    border-radius: 5px; /* Add border radius */
    font-size: 16px; /* Adjust font size */
}

/* Style the label */
label {
    color: black; /* Set text color to white */
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-image: linear-gradient(to right, #FB62AA, #21C49F);
    margin: 6px 0;
    transition: 0.4s;

  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(10px, 11px) rotate(90deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    transform: translate(-10px, 0px) rotate(90deg);
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(90deg);
  }

.menu-button-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color: rgb(240, 234, 234);
    z-index: 1000;
    filter: drop-shadow(0px 0px 10px rgba(251, 98, 170, 0.5)); /* Add backdrop using drop-shadow */
}

.top-menu-button {
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    font-size: x-large;
    font-family: system-ui;
    color: transparent;
    background-image: linear-gradient(to right, rgb(251, 98, 170), rgb(33, 196, 159));
    -webkit-background-clip: text; /* Clip text to background */
    background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Transparent text fill */
    transition: background-position 0.5s; /* Transition background-position */
    z-index: 1;
}

.clashr-paragraph-container {
    margin-top: 120px;
    margin-left: 14%; /* Set margin-left as a percentage */
    width: 75%; /* Set a width to limit horizontal space */
    text-align: center;
    align-items: center;
    display: flex;
}

.clashr-paragraph {
    text-align: center;
    font-size: xx-large;
    color: black;
}

.clashr-image {
    margin-left: 8em;
    width: 24em;
    height: auto;
    box-shadow: 0 0 10px rgba(251, 98, 170, 0.5); /* Add drop shadow */
}

.clashoc-paragraph-container {
    margin-top: 7em;
    margin-left: 14%; /* Set margin-left as a percentage */
    width: 75%; /* Set a width to limit horizontal space */
    text-align: left;
    align-items: center;
    display: flex;
}

.clashoc-paragraph {
    text-align: left;
    font-size: xx-large;
    color: black;
}

.clashoc-image-container {
    display: inline-block;
    margin-right: 5em;
    filter: drop-shadow(0px 0px 10px rgba(251, 98, 170, 0.5)); /* Add backdrop using drop-shadow */}

.clashoc-image {
    width: 20em;
}
.tempFix{
    display: flex;
    justify-content: center;
}

.clashro-paragraph-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7em;
    width: 75%; /* Set a width to limit horizontal space */
    text-align: left;
    align-items: center;
}

.clashro-image-container {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px rgba(251, 98, 170, 0.5)); /* Add backdrop using drop-shadow */
}

.clashro-image {
    width: 25%;
    align-items: center;
}

.brawl-paragraph-container {
    margin-top: 120px;
    margin-left: 14%; /* Set margin-left as a percentage */
    width: 75%; /* Set a width to limit horizontal space */
    text-align: center;
    align-items: center;
    display: flex;
}

.brawl-paragraph {
    text-align: center;
    font-size: xx-large;
    color: black;
}

.brawl-image {
    margin-left: 8em;
    width: 30em;
    box-shadow: 0 0 10px rgba(251, 98, 170, 0.5); /* Add drop shadow */
}

.supercell-logo {
    margin-top: 12%;
    margin-left: 40%;
    width: 20%;
    background-color: black;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5)); /* Add backdrop using drop-shadow */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: auto;
    height: 200px;
    margin: 5px;
    filter: drop-shadow(0px 0px 10px rgba(251, 98, 170, 0.5)); /* Add backdrop using drop-shadow */
}

.aboutus-paragraph-container {
    margin-top: 60px;
    margin-left: 14%; /* Set margin-left as a percentage */
    width: 75%; /* Set a width to limit horizontal space */
    text-align: center;
    align-items: center;
    display: flex;
}

.aboutus-paragraph {
    text-align: center;
    font-size: xx-large;
    color: black;
}
